/* Colors */
:root{
  --clr-darkest : #001932;
  --clr-darker : #003B63;
  --clr-dark : #00639C;
  --clr-light : #0087C9;
  --clr-lighter : #00DDF8;
  --clr-bright : #01ABE8;
  --clr-darkest-opacity70 : rgba(0,25,50,0.7);
  --clr-silver: #f0f1f3;
  --clr-silver-hover: #d4d6d7;
  --clr-grey:#47555e;
  --clr-grey-hover : #8198a6;
  --clr-error : #c50606;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-size: 1vw; */
}
/*xs < 768px , sm < 992px , md < 1200 , lg > 1200 */
@media screen and (max-width:992px) {
  :root{
    font-size: 15px;
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page{
  /* background-color: var(--clr-darkest); */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
