
.hotel-card-container{
  animation-name: up;
  animation-duration: 1s;
  background-color: white;
  width: 100%;
  border-radius: 0.2rem;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  color: var(--clr-darkest);
  margin-bottom: 1rem;
  height: 15rem;
  filter: drop-shadow(1px 1px 5px var(--clr-grey));
}

.hotel-card-image{
  width: 30%;
  height: 100%;
  border-radius: 0.1rem;
  overflow: hidden;
}

.hotel-card-image img{
  max-width: 100%;
}
.hotel-card-image img:hover{
  opacity: 70%;
}

.hotel-card-info{
  width: 68%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:768px) {
  :root{
    font-size: 12px;
  }
  .hotel-card-container{
    flex-direction: column;
    height: max-content;
  }
  .hotel-card-image{
    width: 100%;
    margin-bottom: 1rem;
  }
  .hotel-card-image img{
    width: 100%;
  }
  .hotel-card-info{
    width: 100%;
  }
  
}
.main-info{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hotel-title a{
  color: var(--clr-darkest);
  text-decoration: none;
}
.hotel-title a:hover{
  color: var(--clr-darker);
  text-decoration: underline;
}
.hotel-address{
  align-items: center;
  display: flex;
  color: var(--clr-light);
  margin-bottom: 1rem;
}
.hotel-description{
  font-size: 1.2rem;
  width: 100%;
  overflow: hidden;
}
.side-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hotel-rating{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  
}
.stars{
  font-size: 1.5rem;
}
.reviews{
  font-size: 1.3rem;
}
.hotel-cheapest-price{
  font-size: 1.5rem
}
.check-availability-button{
  padding:1em;
  background-color: var(--clr-darkest);
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
.check-availability-button:hover{
  background-color: var(--clr-darker);
}