.not-auth-page{
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-auth-page h1{
  animation-name: up;
  animation-duration: 1s;
  color:white;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.not-auth-page  button{
  animation-name: up;
  animation-duration: 1s;
  padding: 1.5rem;
  color: white;
  background: none;
  border: 0.2rem solid white;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.not-auth-page button:hover{
  background-color: var(--clr-grey);
}
