.pop-up-bg{
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0 , 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.pop-up-container{
  width: 50%;
  background-color: var(--clr-silver);
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
}
.pop-up-container h2{
  width: 100%;
  padding: 1rem;
}
.close-pop-up-button{
  position: absolute;
  right: -1rem;
  top:-1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: var(--clr-darkest);
  border-radius: 50%;
  color:white;
  cursor: pointer;
}
.close-pop-up-button:hover{
  background-color: var(--clr-dark);
}
.rooms-contianer{
  height: 75%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.pop-up-room-container{
  animation-name: up;
  animation-duration: 1s;
  width: 100%;
  background-color: var(--clr-darker);
  color: white;
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.pop-up-room-info{
  width: 65%;
}
.pop-up-room-info h3{
  color: var(--clr-bright);
  margin-bottom: 1rem;
}
.pop-up-room-info p{
  margin-bottom: 0.5rem;
}
.pop-up-room-info h4{
  margin-top: 1rem;
}

.pop-up-room-numbers{
  width: 30%;
  height: 80%;
  display: flex;
  flex-wrap:wrap;
}
.square-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 3rem;
  margin: 0 0.5rem;
}
.square{
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-dark);
  cursor: pointer;
}

.room-number{
  font-size: 0.8rem;
}
.pop-up-button{
  padding: 1rem;
  background-color: var(--clr-darkest);
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.pop-up-button:hover{
  background-color: var(--clr-light);
}